<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div style="text-align:right"><a th:href="@{/logout}">logout</a></div>
<h1>Admin Panel : </h1>
<a th:href="@{/addForm}">Add Product</a><br>
<a th:href="@{/editForm}">Update Product</a><br>
<a th:href="@{/deleteForm}" >Delete Product</a><br>
<hr>
<p th:text="${msg}"></p>
<hr>
<br><br>

<div class="table-container">

    <table id="productTable" class="display">

        <thead>
        <tr>
            <th>Product Id</th>
            <th>Product</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>

        </tr>
        </thead>

        <tbody>

        <tr th:each="p : ${prodList}">

            <td th:text="${p.prodId}"></td>

            <td th:text="${p.prodName}"></td>

            <td th:text="${p.prodBrand}"></td>

            <td>
                <span class="badge" th:text="${p.prodCategory}"></span>
            </td>

            <td class="price">$ <span th:text="${p.prodPrice}"></span></td>

        </tr>

        </tbody>

    </table>

</div>


</body>
</html>