<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
<h1>Update Product : </h1>

<form th:action="@{/updateProduct}" th:object="${product}" method="post">

    Name:
    <input type="text" th:field="*{prodId}"  contenteditable="false"/>

    <br><br>


    Name:
    <input type="text" th:field="*{prodName}" />

    <br><br>

    Price:
    <input type="text" th:field="*{prodPrice}"/>

    <br><br>

    Brand:
    <input type="text" th:field="*{prodBrand}" />

    <br><br>

    Category:
    <input type="text" th:field="*{prodCategory}" />

    <br><br>

    <button type="submit">Update</button>

</form>


</body>
</html>
